<!doctype html>
<html lang=en-ca>
<meta charset=utf-8>
<meta name=viewport content=width=device-width,initial-scale=1>
<meta name=color-scheme content="light dark">
<link rel=stylesheet href=/main.css>
<body><template shadowrootmode=open>
<site-header role=banner part=site-header exportparts=site-title,nav-list,nav-list:site-header-nav-list><span part=site-title>Website</span> <nav><a href=/navigation>Site navigation</a></nav></site-header>
<main><slot>Loading…</slot></main>
<site-footer role=contentinfo part=site-footer exportparts=nav-list><a href=/colophon>Colophon</a></site-footer>
</template>
