:root {
	color-scheme: light dark;
	font-family: system-ui, sans-serif;
	font-feature-settings: "ss06";
}

::part(site-title) {
	font-size: 2rem;
}

::part(site-header),
::part(site-footer) {
	display: block;
}

::part(nav-list) {
	display: flex;
	list-style: none;
	gap: 16px;
	padding-inline-start: 0;
	margin-block:0;
}

::part(site-header-nav-list) {
	font-size: 1.5rem;
}
